$borderColor: rgb(145, 145, 145);

.container{
    display: flex;
    margin: 0px 10px;
}

.item {
    cursor: pointer;
    padding:5px;
    border-top: solid 1px $borderColor;
    border-right: solid 1px $borderColor;
    border-left: solid 1px $borderColor;
}