$menu-font-color: white;
$font-size-large: 28px;
$font-size-medium: 18px;
$border-color: rgb(190, 190, 190);

.nav-bar {
    white-space: nowrap;
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;    
    justify-content: space-between;
    a {
        color: white;
    }
    
    .logo {
        margin: 10px 90px;
    }

    .logo-image {
        width: 60px;
        height: auto;
    }
    
    .right-menu {
        margin: 10px 90px;
        font-size: $font-size-medium;
        font-weight: bold;
        span {
            cursor: pointer;
        }

        
    }

    .active {
        display: inline-block;
    }
    
    .inactive {
        display: none;
    }

    .nav-menu-item {
        margin: auto 5px;
    }
    
}

.nav-bar-scroll {
    white-space: nowrap;
    display: flex;
    border-bottom: solid $border-color 1px;
    position: fixed;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    right: 0;
    align-items: center;    
    justify-content: space-between;
    a {
        color: black;
    }
    
    .logo {
        margin: 10px 90px;
    }

    .logo-image {
        width: 60px;
        height: auto;
        animation: bell 2s 1 linear;
    }
    
    .right-menu {
        margin: 10px 90px;
        font-weight: bold;
        font-size: $font-size-medium;
        span {
            cursor: pointer;
        }

        
    }

    .active {
        display: inline-block;
    }
    
    .inactive {
        display: none;
    }

    .nav-menu-item {
        margin: auto 5px;
    }
    
}

.nav-bar-other {
    white-space: nowrap;
    display: flex;
    border-bottom: solid $border-color 1px;
    position: fixed;
    z-index: 2;
    background-color: rgba(100, 100, 100, 0.8);
    top: 0;
    left: 0;
    right: 0;
    align-items: center;    
    justify-content: space-between;
    a {
        color: white;
    }
    
    .logo {
        margin: 10px 90px;
    }

    .logo-image {
        width: 60px;
        height: auto;
    }
    
    .right-menu {
        margin: 10px 90px;
        font-weight: bold;
        font-size: $font-size-medium;
        span {
            cursor: pointer;
        }

        
    }

    .active {
        display: inline-block;
    }
    
    .inactive {
        display: none;
    }

    .nav-menu-item {
        margin: auto 5px;
    }
    
}

@keyframes bell{
    0%, 50%{
        transform: rotate(0deg);
        }
    5%, 15%, 25%, 35%, 45% {
        transform: rotate(13deg);
    }
    10%, 20%, 30%, 40% {
        transform: rotate(-13deg);
    }
  }