$menu-font-color: white;
$font-size-large: 28px;
$font-size-medium: 18px;
$border-color: rgb(190, 190, 190);

.nav-bar {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;    
    justify-content: space-between;
    a {
        color: white;
    }
    
    .logo {
        margin: auto 10px;
    }

    .logo-image {
        width: 60px;
        height: auto;
    }
    
    .right-menu {
        margin: auto 10px;
        font-size: $font-size-medium;
        span {
            cursor: pointer;
        }

        
    }

    .active {
        display: inline-block;
    }
    
    .inactive {
        display: none;
    }

    .nav-menu-item {
        margin: auto 5px;
    }
    
}

.nav-bar-scroll {
    display: flex;
    border-bottom: solid $border-color 1px;
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    right: 0;
    align-items: center;    
    justify-content: space-between;
    a {
        color: black;
    }
    
    .logo {
        margin: auto 10px;
    }

    .logo-image {
        width: 60px;
        height: auto;
    }
    
    .right-menu {
        margin: auto 10px;
        font-size: $font-size-medium;
        span {
            cursor: pointer;
        }

        
    }

    .active {
        display: inline-block;
    }
    
    .inactive {
        display: none;
    }

    .nav-menu-item {
        margin: auto 5px;
    }
    
}

