$blue-color: #377BB9;
$border-radius: 5px;
$font-size-medium: 18px;

.container{
  margin: 3% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.no-result-box {
  color: red;
}

.recommend-page-div {
  // background-color: red  ;
  text-align: center;

  button {
    width: 180px;
  }
}

.product-selector-tool {
  // background-color: skyblue;
  padding: 5px;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid black;
  border-radius: 7px;
  margin-bottom: 10px;
  min-width: 446px;

  .product-selector-tool-left {
    width: 238px;
    padding-left: 25px;
  }

  .product-selector-tool-right {
    position: absolute;
    right: 30px;
  }
}