$font-size-big: 25px;
$backgroundColorGray: rgb(244, 243, 243);
$backgroundColorWhite: white;

.top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    height: 100px;
    position: absolute;
    bottom: 53px;
    background-color: white;
}

.hide-bottom {
    height: 100px;
    // background-color: red;
}

.top-arrow {
    font-size: 7rem;
    width: 10%;
}

.top-item {
    display: flex;
    margin: 10px 10px;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.top-item-title {
    font-size: 1.4rem;
    height: 80px;
    line-height: 80px;
    margin-top: 10px;
    margin-right: 30px;
    padding-right: 20px;
    margin-bottom: 10px;
    border-right: 1px solid black;
}

.top-content {
    position: relative;
    display: flex;
}

.top-img{
    margin: 0px;
    >img {
        width: 100px;
    }
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-button{
    // cursor: pointer;
    font-size: 1.2rem;
    // background-color: blue;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        cursor: pointer;
    }
    span:hover {
        text-decoration: underline;
    }

    a {
        color: black;
    }
}

.title {
    font-size: $font-size-big;
    background-color: lightgray;
}


.mid{
    height: 30%;
    min-height: 100px;
    margin: 10px 0px;
    display: flex;
    background-color: $backgroundColorGray;
    >span {
        font-size: $font-size-big;
    }
}

.bottom{
    height: 50%;
    background-color: $backgroundColorWhite;
}

.wall {
    width: 1px;
    border: solid 1px black;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
}

.search-bar{
    width: 100%;
    margin: 5px 10px;
    position: relative;
    >input{
        width: 100%;
        border-radius: 5px;
    }

    .search-icon {
        position: absolute;
        right: 5px;
        top: 7px;
    }
}