$blue-color: #377BB9;
$border-radius: 5px;
$font-size-medium: 18px;

.container{
  margin: 3% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.purpose {
  display: flex;
  align-items: center;
  min-width: 444px;
}

.price-box {
  display: flex;
  align-items: center;
  min-width: 300px;
  width: 90%;
  >span {
    white-space: nowrap;
  }
}

.select-input {
  width: 180px;
  height: 30px;
  margin : 0 20px;
  border-radius: $border-radius;
  text-align: center;
  transition: all 0.1s linear;
  cursor: pointer;
  font-size: 1rem;
}


.select-input-blue {
  width: 200px;
  height: 30px;
  margin : 0 20px;
  background-color: $blue-color;
  border-radius: $border-radius;
  color: white;
  text-align: center;
  transition: all 0.1s linear;
  cursor: pointer;
  font-size: 1rem;
}



.second-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider {
  margin: 0 20px;
  width: 100%;
}

.button {
  background-color: $blue-color;
  color: white;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 30px;
  border-radius: $border-radius;
}

.builder-box {
  display: flex;
  width: 50%;
  white-space: nowrap;
  margin-top: 10px;
}

.content-box {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 10px;
  div {
    margin: 5px 15px;
  }
  span {
    margin: 0 5px;
    font-size: $font-size-medium;
  }
}

.ant-slider-rail {
  height: 10px;
}

.recommend-filter-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.input-min-price {
  width: 200px;
}
.input-max-price {
  width: 200px;
}