.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-tab {
  margin: 10px;
  span {
    font-weight: bold;
    margin: 0px 30px;
    white-space: nowrap;
    cursor: pointer;
  }
}

.product-filter {
  display: flex;
  background-color: lightgray;
}

.desc-filter{
  display: flex;
}