$font-size-medium: 16px;
$gray-color: rgb(212, 212, 212);
$blue-color: rgb(65, 142, 249);

.product-item {
    display: flex;
    margin: 10px;
    align-items: center;
    border-bottom: solid 1px $gray-color;
}

.left-item-tab-close{
    display: flex;
    margin: 5px 10px;
    align-items: center;
}

.left-item-tab-open{
    display: flex;
    width: 58%;
    margin: 5px 10px;
    align-items: center;
}

.product-img {
    cursor: pointer;
    margin-right: 10px;
    img {
        width: 100px;
        height: auto;
    }
}

.product-detail-button {
    align-self: center;
    >button {
        cursor: pointer;
        width: 50px;
        background-color: white;
    }
}

.pagination {
    display: flex;
    justify-content: center;
}

.product-name {
    cursor: pointer;
    font-size: $font-size-medium;
    font-weight: bold;
}
.product-name:hover {
    color: $blue-color;
}

.right-item-tab-open {
    width: 42%;
    .price {
        font-size: $font-size-medium;
        font-weight: bold;
    }    
}

.right-item-tab-close {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
    .price {
        font-size: $font-size-medium;
        font-weight: bold;
    }    
}

.right-button-box {
    display: flex;
    align-items: center;
    >div {
        margin: 0px 10px;
    }
}

.put-button {
    cursor: pointer;
    white-space: nowrap;
    background-color: #377BB9;
    color: white;
    border: solid 1px $gray-color;
    border-radius: 5px;
}